__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
!.env.example
*.log
logs/
celerybeat-schedule
celerybeat-schedule-shm
celerybeat-schedule-wal
.git/
.github/
tests/
alembic/versions/
*.md
.mypy_cache/
.pytest_cache/
